.addFlashcard {
    height: 50px;
    width: 100px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: #ffe8c8;
    border-style: solid;
    border-radius: 20px;
    border-color: #374D2B;
    border-width: 3px;
    margin: 1%;
}

.addFlashcard img {
    
}