.addStudySet {
    height: 140px;
    width: 200px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: #acd79380;
    border-style: solid;
    border-radius: 20px;
    border-color: #374D2B;
    border-width: 3px;
}

.addStudySet img {
    height: 40%;
    width: 30%;
    display: flex;
    justify-content: center;
}
