@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&family=Gochi+Hand&family=Playwrite+AU+SA:wght@100..400&display=swap');

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #84a471;
    margin: 0;
    padding: 0px 16px;
    width: 100%;
    box-sizing: border-box;
}

.logos {
    display: flex;
    align-items: center;
    margin: 1%;
    gap: 20%;
}

.login {
    font-size: 20px;
    color: #FFFFFF;
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.Image {
border: 3px #374D2B;
border-radius: 30px;
}
