.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    color: #374d2b;
    font-size: x-large;
    font-weight: bold;
}

.addCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.titleInput {
    padding: 0.5%;
    padding-left: 2%;
    margin-left: 8.5%;
    background-color: #ffe8c8a9;
    font-family: inherit;
    color: #374d2b;
    font-size: 1.5rem;
    border-radius: 25px;
    border-style: solid;
    border-color: #374d2b;
    border-width: 3px;
    transition: border-color 0.2s ease;
}

.titleInput:focus {
    outline: none;
    border-color: #82a46e;
    background-color: #FFF5EC;
}

.button{
    width: auto;
    height: auto;
    background-color: #acd793;
    border: 3px solid #374d2b;
    border-radius: 30px;
    box-shadow: 0px 0px 0px; 
    color: #364d2a; 
    transition: background-color 0.3s;
    position: relative;
    
}
    
.button:hover {
    background-color: #4caf4f; 
}