.header {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    color: #374d2b;
    font-size: x-large;
    font-weight: bold;
}
.addCard {
    display: flex;
    justify-content: center;
    margin: 2%;

}