@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.changeSettings {
    background-color: #ffe8c8; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gochi Hand', sans-serif; 
    padding: 20px;
}

.formWrapper {
    width: 100%;
    max-width: 500px;
    height: fit-content;
    padding: 40px;
    border: 2px solid #374d2b;
    background-color: #ffe8c8;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    color: #acd793;
    font-size: 75px;
    -webkit-text-stroke: 0.25px #374d2b;
    text-shadow: 0px 4px 7px #000000;
    text-align: center;
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    color: #374d2b;
    font-size: 20px;
}

.inputField {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 3px solid #374d2b;
    background-color: #fff;
    color: #333;
    border-radius: 35px;
    margin-bottom: 10px;
}

.changeButton {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 25px;
    background-color: #83a470;
    color: #fff;
    border-color: #374d2b;
    border-radius: 35px;
    cursor: pointer;
    font-family: 'Gochi Hand', sans-serif;
}

.changeButton:hover {
    background-color: #6b905c;
}

