
.flashcardPage {
    display: flex;
    
    flex-direction: column;
    color: #374d2b;
}

.heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2%;
}

.mainCard {
    display:flex;
    align-items:center;
    justify-content: center;
}

.card {
    width: 60%;
    height: 200px;
    
    background-color: #ACD793;
    border: 2px solid #374d2b;
    color: #374d2b;

    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    margin: 2%;
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.upper {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.termDef {
    display: flex;
    align-items: center;
    justify-content: center;
}

.turnArrow {
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 2%;
}

.button{
    width: auto;
    height: auto;
    background-color: #acd79300;
    border: #374d2b00;
    border-radius: 30px;
    box-shadow: 0px 0px 0px; 
    color: #364d2a; 
    transition: background-color 0.3s;
    position: relative;
}

.button:hover {
    background-color: #4caf4f00; 
  }
  
/*
.card {
    width: 60%;
    height: 200px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #ACD793;
    border: 2px solid #374d2b;
    color: #374d2b;

    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    margin: 2%;
}
    */

.shuffling {
    display: flex;
    justify-content: center;

    margin-bottom: 2%;
}

.time {
    background-color: #FFE8C8;
    border: 2px solid #374d2b;
    color: #374d2b;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2%;
    display: flex;
    justify-content: center;
    width: 20%;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 2%;
}
