.dashboard {
    margin: 3%;
}

.dashboard > h1 {
    color: #374D2B;
    font-family: "Gochi Hand", cursive;
    font-weight: 100;
}

.scroll {
    display: flex;
    overflow-x: auto; 
    overflow-y: hidden; 
    max-width: 100%;
    height: 200px;
}

.grid {
    display: grid;
}