.dashboard {
    margin: 3%;
}

.dashboard > h1 {
    color: #374D2B;
    font-family: "Gochi Hand", cursive;
    font-weight: 100;
}

.scroll {
    display: flex;
    overflow-x: auto; 
    overflow-y: hidden; 
    gap: 5%;
    max-width: 100%;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 7%; 
}