.dashboard {
    margin: 3%;
    min-height: 500px;
}

.dashboard > h1 {
    color: #374D2B;
    font-family: "Gochi Hand", cursive;
    font-weight: 100;
}

.scroll {
    display: flex;
    overflow-x: auto;
    gap: 5%;
    max-width: 100%;
    padding: 10px; 
    box-sizing: border-box;
}

.scroll::-webkit-scrollbar {
    display: none; 
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5%; 
    row-gap: 10%;
    box-sizing: border-box;
}